@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  // font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  // header * {
  //   overflow-x: hidden;
  // }
  // * {
  //   max-width: 100vw;
  // }
}

.aurora-bg1 {
  img {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
    // transform: scale(3);
  }
}
.aurora-bg2 {
  img {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
    // transform: scale(-2.2);
  }
}

@keyframes slide-in-out {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide-in-out {
  animation-name: slide-in-out;
  animation-timing-function: linear;
}

.author-box {
  width: calc(100vw - 50px);
  align-items: center;
}

// svgs

.custom-shape-divider-top-1711362281 {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1711362281 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 148px;
}

.custom-shape-divider-top-1711362281 .shape-fill {
  // fill: black;
}

//
.loadMoreButton {
  grid-column: 1 / -1;
}

article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }
  h1,
  h2 {
    @apply tracking-tighter font-extrabold;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}
