@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-out {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide-in-out {
  animation-name: slide-in-out;
  animation-timing-function: linear;
}
